* {
    font-family: 'Verdana', sans-serif;
    box-sizing: border-box;
    margin-bottom: 20px;
}

body {
    margin-inline: 15%;
    margin-bottom: 48px;
}

.home-title {
    margin-top: 40px;
    color: darkolivegreen;
    text-align: center;
    font-size: 36px;
}

.recipe-index {
    margin-top: 48px;
}

p, li {
    color: #4c4c4c
}

li {
    margin-block: 8px;
}

h2 {
    padding-bottom: 4px;
    border-bottom: 1px solid olive;
}

